modules = ["web", "ruby-3.2", "bash"]
run = "bundle exec jekyll serve"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "bundle exec jekyll serve"]

[workflows]
runButton = "Jekyll"

[[workflows.workflow]]
name = "Jekyll"
author = 41721076
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bundle exec jekyll serve --host=0.0.0.0"
