<div class="site-nav">
  <a class="internal-link site-nav-home" href="{{ site.baseurl }}/">Jethro Jones</a>
  <div class="site-nav-links">
    <a class="internal-link" href="{{ site.baseurl }}/about">About</a>
    <a class="internal-link" href="{{ site.baseurl }}/now">Now</a>
    <a class="internal-link" href="{{ site.baseurl }}/projects">Projects</a>
    <a class="internal-link" href="{{ site.baseurl }}/building-in-public">Building in public</a>
    <a class="internal-link" href="{{ site.baseurl }}/blog">Archive</a>
  </div>
  {% include search-bar.html %}
</div>
