---
layout: default
---

<article>


 <div>
    <h1>{{ page.title }}</h1>
  <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
      Originally published: {{ page.date | date: "%B %d, %Y" }} <br>
	  Last updated: {{ page.last_modified_at | date: "%B %d, %Y" }}
      {% endif %}
    </time>
  </div>

  <div id="notes-entry-container">
    <content>
      {{ content }}
      <p></p>
    </content>


<aside style="font-size: 0.9em">
  <h3 style="margin-bottom: 1em">Categories</h3>
  {% if site.categories.size > 0 %}
    <div style="display: grid; grid-gap: 1em; grid-template-columns: 1fr;">
      {% for category in site.categories %}
        <div class="category-box">
          <a class="internal-link" href="{{ site.baseurl }}/categories/{{ category[0] | downcase | replace: ' ', '-' | replace: '&', 'and' | replace: '/', '' }}{% if site.use_html_extension %}.html{% endif %}">
            {{ category[0] }} ({{ category[1].size }})
          </a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div style="font-size: 0.9em">
      <p>There are no categories to display.</p>
    </div>
  {% endif %}
</aside>


  </div>
</article>

<hr>



<!-- <p>Here are all the notes in this site, along with their links, conveniently visualized as a graph.</p>

{% include notes_graph.html %}
-->